body {
  font-family: 'Outfit', sans-serif;
  background-color: #d6e2f0;
}

.qr-component {
  width: 250px;
  padding: 20px;
  border-radius: 20px;
  margin: 250px auto 50px auto;
  background-color: #fff;
  text-align: center;
}

.qr-img {
  max-width: 100%;
  border-radius: 10px;
}

.description p {
  color: #7b879d;
  font-size: 15px;
}

.attribution {
  text-align: center;
}

.attribution a:link,
.attribution a:visited {
  color: #1f3251;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}